body{
  background-image: url("calendar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dropbtn{
  color: white;
  background-color: red;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#submitButton{
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 3px 10px;
  border: none;
  border-style: solid;
}

#countdownDisplay{
 /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
  display: none;
 
}

#detDisplay{
  display: flex;
  justify-content: space-between;
}